<div>
  <div class="row navbar-form">
    <div class="pull-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search email">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </div>
    <div class="pull-right clearfix">
  <!--         <a href="#" class="btn btn-default" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
      <a href="#" class="btn btn-default" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a> -->
      <select ng-model="selectedLimit" ng-options="limit for limit in resultLimits" ng-change="limitChanged()"></select>
  <!--           <ul class="pagination">
          <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul> -->
    </div>
  </div>
</div>
<div class="container-fluid" ng-controller="mainController">
  <div class="clearfix email-container">
    <div class="col-md-1 label-container">
      <div class="clearfix">
        <a class="btn btn-compose col-md-8 col-md-offset-2" href="#/compose">Compose</a>
      </div>
      <ul class="clearfix">
        <li ng-repeat="category in categories" ng-click="setSelectedCategory(category)" class="side-label" ng-class="{'selected-side-label': isCategorySelected(category)}"><div>{{ category.name | removeCategory | capitalize }} <span class="badge">{{category.unread}}</span></div></li>
      </ul>
    </div>
    <div class="col-md-11">
      <div class="inbox-nav" ng-if="getSelectedCategory().id === 'INBOX'">
        <ul class="nav nav-pills">
          <li role="presentation" ng-repeat="label in topLabels" ng-click="setSelectedLabel(label)" class="col-md-2 top-label" ng-class="{'active': isLabelSelected(label)}"><a href="#{{ label.value }}" data-toggle="tab">{{ label.value }} <span class="badge">{{label.unread}}</span></a></li>
        </ul>
      </div>
      <div class="clearfix">
        <div class="col-md-4 message-item-container">
           <!-- ng-show="thread.messages[0].labelIds.indexOf(getSelectedLabel()) != -1" -->
          <div ng-repeat="thread in threads" ng-click="setSelectedThread(thread)" class="message-item" ng-animate="'animate'" ng-class="{'unread': isUnread(thread), 'selected-message-item': isThreadSelected(thread)}">
            <div class="clearfix">
              <div class="col-md-8">
                  <p>{{ thread.messages[0].payload.headers['From'] | removeEmail }}</p>
              </div>
              <div class="col-md-4">
                <p class="pull-right">{{ thread.messages[0].payload.headers['Date'] | date:'MM/dd/yyyy' }}</p>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-md-10">
                <p>{{ thread.messages[0].payload.headers['Subject'] }}</p>
              </div>
              <div class="col-md-2" ng-if="thread.messages[0].hasAttachments" title="{{ thread.messages[0].attachments | joinNames }}">
                <i class="glyphicon glyphicon-paperclip pull-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 message-container">
          <p>{{ selectedThread.threadId }}</p>
          <div ng-repeat="message in selectedThread.messages">
            <div ng-if="message.labelIds.indexOf('CHAT')">
              <p><strong>Labels:</strong> {{message.labelIds}}</p>
              <p><strong>Subject:</strong> {{ message.payload.headers['Subject'] }}</p>
              <p><strong>From:</strong> {{ message.payload.headers['From'] }}</p>
              <p><strong>To:</strong> {{ message.payload.headers['To'] }}</p>
              <p><strong>Date:</strong> {{ message.payload.headers['Date'] }}</p>
            </div>
            <span ng-if="!message.labelIds.indexOf('CHAT')"><strong>{{ message.payload.headers['From'] | removeEmail }}</strong></span>
            <a ng-repeat="attachment in message.attachments" ng-if="attachment.contentDisposition === 'attachment'" href="{{attachment.link}}" download="{{attachment.fileName}}" class="btn btn-primary">{{attachment.fileName}}</a>

            <div ng-if="message.payload.body.data !== null">
              <pre ng-if="message.payload.mimeType === 'text/plain'">{{message.payload.body.data}}</pre>
              <div ng-if="message.payload.mimeType === 'text/html'" ng-bind-html="renderHtml(message.payload.body.data)"></div>
            </div>

            <div ng-repeat="part in message.payload.parts">
              <div ng-if="part.mimeType === 'text/html'">
                <div ng-bind-html="renderHtml(part.body.data)"></div>
              </div>
      <!--         <div ng-if="part.mimeType === 'text/plain'">
                <div>{{part.body.data}}</div>
              </div> -->
              <div ng-repeat="pp in part.parts">
                <div ng-if="pp.mimeType === 'text/html'">
                  <div ng-bind-html="renderHtml(pp.body.data)"></div>
                </div>
      <!--           <div ng-if="pp.mimeType === 'text/plain'">
                  <div>{{pp.body.data}}</div>
                </div> -->
              </div>
            </div>
            <hr ng-if="selectedThread.messages.indexOf(message) !== selectedThread.messages.length - 1 && message.labelIds.indexOf('CHAT')">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>