<!-- <div id="loading-spinner" loading>
    <i class="fa fa-spinner fa-spin"></i>
    <i class="glyphicon glyphicon-repeat"></i>
</div> -->

<div class="row navbar-form">
    <div class="pull-left">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search email">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>
    <div class="pull-right clearfix">
        <!--         <a href="#" class="btn btn-default" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
  <a href="#" class="btn btn-default" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a> -->
        <select ng-model="selectedLimit" ng-change="limitChanged()" ng-options="limit for limit in resultLimits"></select>
        <!--           <ul class="pagination">
      <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul> -->
    </div>
</div>
<div class="container-fluid">
    <div class="clearfix email-container">
     <!-- setSelected="setSelectedCategory(category)" isSelected="isCategorySelected(category)" open="open('type')" -->
        <div side-labels></div>

        <div class="col-md-11">
            <div class="inbox-nav" ng-if="getSelectedCategory().id === 'INBOX'">
                <ul class="nav nav-pills">
                    <li role="presentation" ng-repeat="label in topLabels" ng-click="setSelectedLabel(label)" class="col-md-2 top-label" ng-class="{'active': isLabelSelected(label)}"><a href="#{{ label.value }}" data-toggle="tab">{{ label.value }} <span class="badge">{{label.unread}}</span></a></li>
                </ul>
            </div>
            <div class="clearfix">
                <div message-list></div>
                <div message-details></div>
            </div>
        </div>
    </div>
</div>
