.div-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex;
    /* For Safari */
    -webkit-justify-content: center;
    /* For Safari */
    -webkit-align-items: center;
    /* For Safari */
}

.container {
    height: 100%;
    height: 100vh;
}

.email-container {
    border: 1px solid;
    margin-top: 5px;
}

.label-container {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 85%;
    height: 85vh;
    border-right: 1px solid;
}

.message-item-container,
.message-container {
    padding: 0;
    /*    padding-top: 10px;
    padding-bottom: 10px;*/
    overflow-y: scroll;
    height: 85%;
    height: 85vh;
}

.message-item-container {
    border-right: 1px solid;
    white-space: nowrap;
    overflow-x: hidden;
}

.message-container {
    padding: 10px;
}

.message-item,
.selected-message-item {
    padding: 10px;
    padding-bottom: 0;
    /*border: 1px solid black;*/
    /*margin: 10px 0;*/
    /*padding: 10px;*/
    background-color: rgba(243,243,243,.85);
}

.selected-message-item {
    background-color: #337ab7;
    color: #fff;
}

.read {
    background: rgba(243, 243, 243, .85);
    color: #222;
}

.message-item.ng-enter.ng-enter-active,
.message-item.ng-leave {
    opacity: 1,
    height: 80px;
    overflow: hidden;
}

.message-item.ng-leave.ng-leave-active,
.message-item.ng-enter {
    opacity: 0,
    height: 0;
    overflow: hidden;
}

.unread {
    background-color: #fff;
}

/*.top-label {
    opacity: .9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.top-label:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}*/