.div-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex;
    /* For Safari */
    -webkit-justify-content: center;
    /* For Safari */
    -webkit-align-items: center;
    /* For Safari */
}

.container {
    height: 100%;
    height: 100vh;
}

.email-container {
    /*border: 1px solid;*/
    margin-top: 5px;
}

.label-container {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 85%;
    height: 85vh;
    /*border-right: 1px solid;*/
}

.message-item-container,
.message-container {
    padding: 0;
    /*    padding-top: 10px;
    padding-bottom: 10px;*/
    overflow-y: scroll;
    height: 85%;
    height: 85vh;
}

.message-item-container {
    /*border-right: 1px solid;*/
    white-space: nowrap;
    overflow-x: hidden;
}

.message-container {
    padding: 10px;
}

.message-item,
.selected-message-item {
    padding: 10px;
    padding-bottom: 0;
    /*border: 1px solid black;*/
    /*margin: 10px 0;*/
    /*padding: 10px;*/
    background-color: rgba(243,243,243,.85);
}

.selected-message-item {
    background-color: #337ab7;
    color: #fff;
}

.read {
    background: rgba(243, 243, 243, .85);
    color: #222;
}

.message-item.ng-enter.ng-enter-active,
.message-item.ng-leave {
    opacity: 1,
    height: 80px;
    overflow: hidden;
}

.message-item.ng-leave.ng-leave-active,
.message-item.ng-enter {
    opacity: 0,
    height: 0;
    overflow: hidden;
}

.message-item p {
    overflow: hidden;
}

.unread {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.unread.selected-message-item {
    background-color: #337ab7;
    color: #fff;  
}

.label-container > ul {
    padding-left: 5px;
}

.label-container > ul > li {
    list-style-type: none;
}

li.side-label {
    padding-left: 10px;
}

li.side-label>div {
    padding: 4px;
}

li.selected-side-label {
    border-left: 4px solid #dd4b39;
    font-weight: bold;
}

li.selected-side-label>div {
    color: #dd4b39;
}

li.side-label:hover {
    background-color: #eee;
}

div.inbox-nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-compose {
    font-weight: bold;
    background-color: #dd4b39;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.btn-compose:hover {
    color: #fff;
    background-color: #c64333;
}

label.attach {
    display: inline-block;
    padding: 6px 7px;
    margin: 0;
    vertical-align: middle;
}

label.attach:hover {
    padding: 5px 6px;
    /*border: 1px solid #f5f5f5;*/
    vertical-align: middle;
    border: 1px solid #cfcfcf;
}

label.attach > i > input[type=file] {
    display: none;
}

div.send-toolbar {
    background-color: #f5f5f5;
    padding: 5px;
}

ul.attachment-list {
    padding: 0;
}

ul.attachment-list > li {
    display: inline;
    padding: 5px 5px 5px 5px;
}

ul.attachment-list > li > span {
    display: inline;
    background-color: #777;
}

ul.attachment-list > li > span:hover {
    background-color: #666;
}


/*.top-label {
    opacity: .9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.top-label:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}*/