<div class="col-md-8 message-container">
    <p>{{ selectedThread.threadId }}</p>
    <div ng-repeat="message in selectedThread.messages" ng-init="message.collapseBody = message.idx === selectedThread.messages.length - 1; message.showHeaders = false;" ng-class="{'border-top': message.labelIds.indexOf('CHAT'), 'collapsed-body': !message.collapseBody}">
        <div ng-if="message.labelIds.indexOf('CHAT')" ng-init="emailId = message.idx">
            <div class="message-container-header" ng-click="collapseMessageBody($event, message, message.idx)">
                <div class="message-container-main-header">
                    <div class="clearfix">
                        <div class="col-md-8">
                            <p class="email-from">{{ message.payload.headers['From'] | removeEmail }}</p>
                        </div>
                        <div class="col-md-4 header-right">
                            <i ng-if="message.hasAttachments" title="{{ message.attachments | joinNames }}" class="glyphicon glyphicon-paperclip"></i>
                            <p class="email-date" title="{{ message.payload.headers['Date'] }}"> {{ message.payload.headers['Date'] | displayDate }}</p>
                            <div ng-if="message.collapseBody" class="btn-group" uib-dropdown id="ignore-click-actions-{{message.idx}}">
                                <button id="split-button" type="button" class="btn btn-default" ng-init="message.showReply=false" ng-click="message.showReply=!message.showReply"><span class="icon-filp glyphicon glyphicon-share-alt"></span></button>
                                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="actions-dropdown" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li role="menuitem"><a ng-click="open('reply', message)">Reply</a></li>
                                    <li ng-if="message.idx !== 0" role="menuitem"><a>Reply All</a></li>
                                    <li role="menuitem" ng-click="open('forward', message)"><a>Forward</a></li>
                                    <li role="menuitem"><a>Delete</a></li>
                                    <li class="divider"></li>
                                    <li role="menuitem"><a ng-click="modifyLabels(message.messageId, ['UNREAD'])">Mark as unread</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-container-sub-header">
                    <div class="clearfix">
                        <div class="col-md-12">
                            <p class="email-to">to {{ message.payload.headers['To'] | removeEmail }}</p>
                            <ul class="header-details" ng-if="message.collapseBody" id="ignore-click-{{message.idx}}">
                                <li><i ng-click="toggleMessageHeaders(message)" id="{{ message.idx }}" class="glyphicon glyphicon-triangle-bottom"></i></li>
                                <li ng-if="message.showHeaders">
                                    <div popup-not-focused="toggleMessageHeaders(message)" class="message-container-header-details form-horizontal col-md-6" data-reference-id="{{ message.idx }}">
                                        <p>Labels: {{message.labelIds}}</p>
                                        <div class="form-group" ng-if="message.payload.headers['From']">
                                            <label class="col-sm-2 control-label">From:</label>
                                            <div class="col-sm-10">
                                                {{ message.payload.headers['From'] }}
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="message.payload.headers['To']">
                                            <label class="col-sm-2 control-label">To:</label>
                                            <div class="col-sm-10">
                                                {{ message.payload.headers['To'] }}
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="message.payload.headers['Cc']">
                                            <label class="col-sm-2 control-label">Cc:</label>
                                            <div class="col-sm-10">
                                                {{ message.payload.headers['Cc'] }}
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="message.payload.headers['Bcc']">
                                            <label class="col-sm-2 control-label">Bcc:</label>
                                            <div class="col-sm-10">
                                                {{ message.payload.headers['Bcc'] }}
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="message.payload.headers['Subject']">
                                            <label class="col-sm-2 control-label">Subject:</label>
                                            <div class="col-sm-10">
                                                {{ message.payload.headers['Subject'] }}
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="message.payload.headers['Date']">
                                            <label class="col-sm-2 control-label">Date:</label>
                                            <div class="col-sm-10">
                                                {{ message.payload.headers['Date'] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="message.labelIds.indexOf('CHAT')">
                                        <p><strong>Labels:</strong> {{message.labelIds}}</p>
                                        <p><strong>Subject:</strong> {{ message.payload.headers['Subject'] }}</p>
                                        <p><strong>From:</strong> {{ message.payload.headers['From'] }}</p>
                                        <p><strong>To:</strong> {{ message.payload.headers['To'] }}</p>
                                        <p><strong>Date:</strong> {{ message.payload.headers['Date'] }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span ng-if="!message.labelIds.indexOf('CHAT')"><strong>{{ message.payload.headers['From'] | removeEmail }}</strong></span>
        <div ng-if="message.collapseBody" class="message-body">
            <div ng-if="message.attachments.length > 0">
                <div class="attachment-info">
                    <p>{{message.attachments.length}} Attachments</p>
                </div>
                <div class="attachments row">
                    <a ng-repeat="attachment in message.attachments" ng-if="attachment.contentDisposition === 'attachment'" href="{{attachment.link}}" download="{{attachment.fileName}}" class="pull-left attachment-box col-md-2">
                        <div>
                            <div class="file-icon">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            </div>
                            <div class="file-name">{{attachment.fileName}}</div>
                            <div class="file-size">{{attachment.size | bytes }}</div>
                            <div class="download-attachment">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div ng-if="message.payload.body.data !== null">
                <div ng-if="message.payload.mimeType === 'text/plain'">{{message.payload.body.data}}</div>
                <div ng-if="message.payload.mimeType === 'text/html'" ng-bind-html="renderHtml(message.payload.body.data)"></div>
            </div>
            <div ng-repeat="part in message.payload.parts">
                <div ng-if="part.mimeType === 'text/html'">
                    <div ng-bind-html="renderHtml(part.body.data)"></div>
                </div>
                <div ng-if="part.mimeType === 'text/plain'">
                    <div>{{part.body.data}}</div>
                </div>
                <div ng-repeat="pp in part.parts">
                    <div ng-if="pp.mimeType === 'text/html'">
                        <div ng-bind-html="renderHtml(pp.body.data)"></div>
                    </div>
                    <div ng-if="pp.mimeType === 'text/plain'">
                        <div>{{pp.body.data}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-reply" ng-if="message.showReply" ng-include="'./assets/partials/reply.html'"></div>
    </div>
</div>
